body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
}

.header .overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header .card {
    background-color: #f0f1f5;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    flex: 1;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 200px;
}

.header .card h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.header .card p {
    margin: 10px 0 0;
    font-size: 24px;
    font-weight: bold;
    color: #666;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

table thead tr {
    background-color: #2e3b4e;
    color: white;
    text-align: left;
    font-weight: bold;
}

table th, table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #2e3b4e;
}